!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "Cache-Control", :content => "no-cache, no-store, must-revalidate"}
    %meta{"http-equiv" => "Pragma", :content => "no-cache"}
    %meta{"http-equiv" => "Expires", :content => "0"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= current_page.data.title || default_title
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => "Yong Bakos"}
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'bootstrap-responsive'
    = stylesheet_link_tag 'screen'
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "favicon.ico", :rel => "shortcut icon"}
    /
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  %body{:class => page_classes, :id => current_page.data.body_dom_id}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Yong Joseph Bakos', "http://inside.mines.edu/~ybakos",
             :title => "Yong Joseph Bakos, Assistant Teaching Professor, Colorado School of Mines",
             :class => 'brand'
          .nav-collapse
            %ul.nav
              %li{nav_active('home')}= link_to 'Home', 'http://inside.mines.edu/~ybakos', :title => "Yong Joseph Bakos"
              %li{nav_active('courses')}= link_to 'Courses', 'courses.html'
              %li{nav_active('services')}= link_to 'Services', "services.html"
              %li{nav_active('research')}= link_to 'Research', "research.html"
              %li{nav_active('publications')}= link_to 'Publications', "publications.html"
              %li{nav_active('about')}= link_to 'About', "about.html"
              %li{nav_active('contact')}= link_to 'Contact', "contact.html"
    %div{:class => current_page.data.container_class}
      = yield
      %hr
        %footer
          %p
            © Yong Joseph Bakos. Yeah, another vanilla
            = link_to 'bootstrap', 'http://twitter.github.com/bootstrap/', :title => "Twitter Bootstrap CSS template."
            site. Thanks
            = succeed "!" do
              = link_to 'middleman', "http://middlemanapp.com/", :title => "Middleman, a static site generator."
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bootstrap-transition'
    = javascript_include_tag 'bootstrap-alert'
    = javascript_include_tag 'bootstrap-modal'
    = javascript_include_tag 'bootstrap-dropdown'
    = javascript_include_tag 'bootstrap-scrollspy'
    = javascript_include_tag 'bootstrap-tab'
    = javascript_include_tag 'bootstrap-tooltip'
    = javascript_include_tag 'bootstrap-popover'
    = javascript_include_tag 'bootstrap-button'
    = javascript_include_tag 'bootstrap-collapse'
    = javascript_include_tag 'bootstrap-carousel'
    = javascript_include_tag 'bootstrap-typeahead'