---
body_dom_id: administration
container_class: container-fluid
---

%ul.breadcrumb
  %li
    = link_to 'Home', '/index.html'
    %span.divider /
  %li
    = link_to 'Administration', '/administration/index.html'
    %span.divider /
  %li.active Classroom Observation

.alert
  This is a draft. Last updated on
  = "#{Time.now.strftime("%A, %B %d %Y")}."

%h1 Classroom Observation
%p This document summarizes the motivations and process for classroom observation as a mechanism for an instructor to receive feedback from their peers, with the goal of improving teaching quality.


%h2 Summary
%p Each faculty member should conduct two classroom observations per semester.
%p Observers should communicate their intent to sit in on a class with the instructor ahead of time, but this is not mandatory.
%p Observers should familiarize themselves with the course syllabus and course content before observing the classroom.
%p
  To keep things simple, start with this form [
  = link_to 'docx', '/assets/eecs_classroom_observation.docx'
  = link_to 'pdf', '/assets/eecs_classroom_observation.pdf'
  ].
  The observer should complete the form and return it to the observed instructor.

%h2 Procedure
%p It is each instructor's responsibility to obtain two classroom observations per semester. Each of us should be asking a colleague, "Would you mind observing my class on date X?"
%p However, any faculty member may also begin the observation process. "May I observe your class on date X?"

%h3 Instructor-Driven
%p
  Ask for a fellow faculty member to observe one of your classes. The observer should follow the guidelines above. Provide the observer with a hard-copy of the observation form
  [
  = link_to 'docx', '/assets/eecs_classroom_observation.docx'
  = link_to 'pdf', '/assets/eecs_classroom_observation.pdf'
  ].
%p Do not acknowledge or draw attention to the observer during the class.

%h3 Observer-Driven
%p Contact the instructor whose class you would like to observe.
%ol
  %li Notify the instructor about the specific class you intend to observe.
  %li Familiarize yourself with the course syllabus and subject.
  %li
    Arrive early, be unobtrusive, and be sure to bring a hard copy of the observation form
    [
    = link_to 'docx', '/assets/eecs_classroom_observation.docx'
    = link_to 'pdf', '/assets/eecs_classroom_observation.pdf'
    ].
  %li Observe both the instructor's execution and the students' responsiveness.


%h2 What Makes a Good Peer Reviewer?
%ul
  %li Be sensitive
  %li View teaching improvement as the objective of the observation process
  %li Be reflective about your own teaching
  %li Give constructive feedback
  %li Prepare for the observation
  %li Accept the validity of different methods and styles


%h2 Resources
%h3 Classroom Observation
%ul
  %li= link_to 'Classroom Observation Tools', 'http://depts.washington.edu/cidrweb/resources/observationtools.html'
  %li= link_to 'Classroom Observation Checklist', 'http://www.temple.edu/tlc/resources/handouts/peer_review/Classroom_Observation_Checklist.pdf'
  %li= link_to 'Classroom Observation Protocol', 'http://ed.fnal.gov/trc_new/program_docs/instru/classroom_obs.pdf'
  %li= link_to 'Classroom Observation Resources', 'http://www.rbs.org/Special-Topics/Classroom-Observation-Resources/235/'
  %li= link_to 'Guidelines for Classroom Observation', 'http://www.teachingandlearning.illinois.edu/pdf/Sorcinelli_Observation_Guide.pdf'
  %li= link_to 'Classroom Observation As a Means of Gathering Feedback on Teaching', 'http://www.schreyerinstitute.psu.edu/Tools/Observe/'
  %li= link_to 'Evaluating Teacher Effectiveness: Can Classroom Observations Identify Practices That Raise Achievement?', 'http://educationnext.org/evaluating-teacher-effectiveness/'
  %li= link_to "Observation of Teachers' Classroom Performance", 'http://www.cecr.ed.gov/pdfs/guide/CECRTeacherObservationModel.pdf'
  %li= link_to 'Classroom Observation Guidelines', 'http://www.vcu.edu/cte/resources/nfrg/ClassroomObservationGuidelines.pdf'

%h3 Peer Review of Teaching
%ul
  %li
    = link_to 'Peer Review of Teaching', 'http://www.uwosh.edu/faculty_staff/perlman/peerreview.pdf', :title => 'Peer Review of Teaching'
    by Perlman & McCann, University of Wisconsin Oshkosh
  %li
    = link_to 'Peer Review of Teaching', 'http://cte.umdnj.edu/career_development/career_peer_review.cfm'
    resources from University of Medicine & Dentistry of NJ
  %li= link_to 'A Protocol for Peer Review of Teaching', 'http://www4.ncsu.edu/unity/lockers/users/f/felder/public/Papers/ASEE04(Peer-Review).pdf'
  %li
    = link_to 'Peer Review of Teaching', 'http://www1.umn.edu/ohr/teachlearn/resources/peer/index.html'
    from University of Minnesota
  %li= link_to 'Collaborative Peer Review', "http://www.eric.ed.gov/ERICWebPortal/search/detailmini.jsp?_nfpb=true&_&ERICExtSearch_SearchValue_0=ED378925&ERICExtSearch_SearchType_0=no&accno=ED378925"
  %li= link_to 'Peer Review of Teaching: A Sourcebook', 'http://www.eric.ed.gov/ERICWebPortal/search/detailmini.jsp?_nfpb=true&_&ERICExtSearch_SearchValue_0=ED426646&ERICExtSearch_SearchType_0=no&accno=ED426646'
  %li= link_to 'Determining Faculty Effectiveness', 'http://www.eric.ed.gov/ERICWebPortal/search/detailmini.jsp?_nfpb=true&_&ERICExtSearch_SearchValue_0=ED183127&ERICExtSearch_SearchType_0=no&accno=ED183127'
  %li= link_to 'Resources Related to Peer Review of Teaching', 'http://www.celt.iastate.edu/faculty/peer_review.html'
  %li= link_to 'Peer Review of Teaching', 'http://depts.washington.edu/cidrweb/consulting/peer-review.html'
  %li= link_to 'The Planning and Implementation of a Faculty Peer Review Teaching Project', 'http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1636927/'
  %li= link_to 'Peer Review of Teaching Guide', 'http://learning.tamu.edu/sites/default/files/Peer%20Review%20of%20Teaching.pdf'
  %li= link_to 'Faculty Peer Review of Teaching', 'http://www.temple.edu/tlc/resources/handouts/peer_review/Faculty%20Peer%20Eval%20of%20Teaching.pdf'
  %li= link_to 'Peer Review of Teaching', "http://www.temple.edu/tlc/resources/handouts/peer_review/Faculty%20Peer%20Eval%20of%20Teaching.pdf"
  %li= link_to 'How Do I Design a Peer Review Program?', 'https://tle.wisc.edu/teaching-academy/how-do-i-design-peer-review-program'
  %li= link_to 'Peer Review of Teaching: A Manual for Peer Review at IU Southeast', 'http://www.iun.edu/~nwacadem/cistl/resources/resources/teachingconsultantinfo.pdf'
  %li= link_to 'Evaluating Teacher Effectiveness', 'http://educationnext.org/evaluating-teacher-effectiveness/'

