---
body_dom_id: administration
container_class: container-fluid
---

- content_for :scripts do
  :javascript
    $(document).ready(function() {
        Highcharts.visualize = function(table, options) {
            options.xAxis.categories = [];
            $('tbody th', table).each( function(i) {
                options.xAxis.categories.push(this.innerHTML);
            });
            options.series = [];
            $('tr', table).each( function(i) {
                var tr = this;
                $('th, td', tr).each( function(j) {
                    if (j > 0) { // skip first column
                        if (i == 0) { // get the name and init the series
                            options.series[j - 1] = {
                                name: this.innerHTML,
                                data: []
                            };
                        } else { // add values
                            options.series[j - 1].data.push(parseFloat(this.innerHTML));
                        }
                    }
                });
            });

            var chart = new Highcharts.Chart(options);
        }

        var table = document.getElementById('csci101Table'),
        options = {
            chart: {
                renderTo: 'csci101Chart',
                type: 'line'
            },
            title: {
                text: 'Enrollment History'
            },
            xAxis: {
                title: {
                    text: 'Semester'
                }
            },
            yAxis: {
                title: {
                    text: '# of Students'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.y +' '+ this.x.toLowerCase();
                }
            }
        };

        Highcharts.visualize(table, options);
    });

%ul.breadcrumb
  %li
    = link_to 'Home', '/index.html'
    %span.divider /
  %li
    = link_to 'Administration', '/administration/index.html'
    %span.divider /
  %li.active EECS Course Resources &amp; Constraints

.alert
  Last updated on
  = "#{Time.now.strftime("%A, %B %d %Y")}."


.page-header
  %h1 EECS Courses, Resources and Constraints


%blockquote.pull-right
  %p I can't believe this shit isn't well-documented.
  %small
    Someone famous

%p Documentation of the courses owned by the EECS department.

%ul.nav.nav-tabs
  %li.active= link_to 'All', '#'
  %li= link_to '2013 Spring', '#'
  %li= link_to '2013 Summer', '#'
  %li= link_to '2013 Fall', '#'

%h2 All Courses

%h3
  CSCI 101
  %small Introduction to Computer Science
%p
  Distributed science course. Core requirement for CSCI students.
%p
  %b Offered
  Since fall 2010. Fall, spring. MWF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Keith Hellman
  Craig Champlin, William (Bill) Bahn
%p
  %b Classroom
  Uses formal learning groups. Needs a classroom with audio and video support, movable chairs, no stadium seating.
%p
  %b Rooms Used Successfully
  AH 330, AH 140, MH 375, AH 352, AH 340, AH 162, MZ 322
%p
  %b Support
  Needs 1 grader (12 hrs/wk) per section.
.row-fluid
  .span5
    %table#csci101Table.table.table-bordered.table-condensed
      %thead
        %tr
          %th Semester
          %th Number of Sections
          %th Total Enrollment
      %tbody
        %tr
          %th 2010 Fall
          %td 2
          %td 113
        %tr
          %th 2011 Spring
          %td 2
          %td 102
        %tr
          %th 2011 Fall
          %td 5
          %td 194
        %tr
          %th 2012 Spring
          %td 3
          %td 116
        %tr
          %th 2012 Fall
          %td 4
          %td 116
        %tr
          %th 2013 Spring
          %td 3
          %td 119
  .span7
    #csci101Chart{:style => 'height: 300px;'}

%h3
  CSCI 260
  %small Fortran Programming
%p This course is taken by...
%p
  %b
%p
  %b Offered
  Since fall 2007 or earlier. Fall, spring. WF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Larry Johnson
%p
  %b Classroom
  Needs a computer classroom.
%p
  %b Support
  Needs 1 hour per week to assist on lab days.


%h3
  CSCI 261
  %small Programming Concepts
%p This course...
%p
  %b Offered
  Since fall 2007 or earlier. Fall, spring. MWF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Yong Bakos
  Keith Hellman, Cyndi Rader, Josh Thomas (adjunct), GTF and PhD students
%p
  %b Classroom
  Needs computer labs supporting Visual Studio (and OpenFrameworks) and/or Code::Blocks, for Friday lab sections.
%p
  %b Rooms Used Successfully
  CT TODO, MZ 022, MZ 026, BB 316A, BB 316B
%p
  %b Support
  Needs 6 - 12 hours per week to assist on lab days; 8 hours per week to conduct tutoring sessions MW 6:30 - 8:30PM in CTLM.
  %br
  Needs 20 hours per week for homework grading.

%h3
  CSCI 261J
  %small Programming Concepts (Java)
%p
  This is a "special" section of CSCI261 taught in Java by Ira Hale. The department <i>does</i> administer this course.
%p
  %b Offered
  TODO. Spring. MWF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Ira Hale
%p
  %b Classroom
  Needs a computer classroom.
%p
  %b Rooms Used Successfully
  CT B60
%p
  %b Support
  Needs 1 hour per week to assist on lab days.


%h3
  CSCI 262
  %small Data Structures
%p
  %b Support
  Needs 1 hour / week per ten students for grading; 2 - 3 hours per section in tutoring support.


%h3
  CSCI 274
  %small Intro Linux OS

%h3
  CSCI 306
  %small Software Engineering

%h3
  CSCI 341
  %small Computer Organization

%h3
  CSCI 358
  %small Discrete Mathematics

%h3
  CSCI 400
  %small Programming Languages

%h3
  CSCI 403
  %small Database Management

%h3
  CSCI 406
  %small Algorithms

%h3
  CSCI 407
  %small Scientific Computing

%h3
  CSCI 410
  %small Elements Of Computing Systems

%h3
  CSCI 442
  %small Operating Systems

%h3
  CSCI 446
  %small Web Applications

%h3
  CSCI 447
  %small Scientific Visualization

%h3
  CSCI 547
  %small Scientic Visualization

%h3
  CSCI 562
  %small Appl Algorithms & Data Structu

%h3
  CSCI 564
  %small Advanced Computer Architecture

%h3
  CSCI 575
  %small Machine Learning

%h3
  CSCI 700
  %small MS Project Credits

%h3
  CSCI 707
  %small Graduate Thesis

%h3
  EGGN 281
  %small Intro To Circuits
%p
  %b Substitutions
  Can be substituted with PHGN215 Analog Circuits.

%h3
  EGGN 284
  %small Digital Logic
%p
  %b Substitutions
  Can be substituted with PHGN317 Semiconductor Circuits: Digital. However, students need to take EGGN284 as a 1 credit-hour "independent study," which just means they attend the lab section and do the lab work.
%p
  %b Scheduling
  %span.label.label-important Should be scheduled at 9AM to accommodate Physics students.

%h3
  EGGN 307
  %small Intro To Feedback Control Sys

%h3
  EGGN 382
  %small Engineering Circuit Analysis

%h3
  EGGN 383
  %small Microcomputer Architecture

%h3
  EGGN 385
  %small Elec Dev/circuits

%h3
  EGGN 386
  %small Fund Of Engineering Electromagnets

%h3
  EGGN 388
  %small Information Systems Science

%h3
  EGGN 389
  %small Fund Electric Machinry I

%h3
  EGGN 481
  %small Digital Signal Processing

%h3
  EGGN 487
  %small Anal & Des Of Adv Energy Sys

%h3
  EGGN 498ea
  %small Comp Meth Engy Sys&pwr Elctrnc

%h3
  EGGN 504
  %small Eng Grad Colloquium Ms - Ee

%h3
  EGGN 512
  %small Computer Vision

%h3
  EGGN 517
  %small Theory & Dsgn Adv Control Sys

%h3
  EGGN 519
  %small Estimation Thry&kalman Filtrng

%h3
  EGGN 580
  %small Electric Power Quality

%h3
  EGGN 589
  %small Design & Cntrl Wind Energy Sys

%h3
  EGGN 598ea
  %small Power Systems Protection

%h3
  EGGN 598eb
  %small Sensors

%h3
  EGGN 707E
  %small Graduate Thesis - Ee

%h3
  SYGN 555
  %small Smartgeo Seminar