---
body_dom_id: administration
container_class: container-fluid
---

- content_for :scripts do
  :javascript
    $(document).ready(function() {
        Highcharts.visualize = function(table, options) {
            options.xAxis.categories = [];
            $('tbody th', table).each( function(i) {
                options.xAxis.categories.push(this.innerHTML);
            });
            options.series = [];
            $('tr', table).each( function(i) {
                var tr = this;
                $('th, td', tr).each( function(j) {
                    if (j > 0) { // skip first column
                        if (i == 0) { // get the name and init the series
                            options.series[j - 1] = {
                                name: this.innerHTML,
                                data: []
                            };
                        } else { // add values
                            options.series[j - 1].data.push(parseFloat(this.innerHTML));
                        }
                    }
                });
            });

            var chart = new Highcharts.Chart(options);
        }

        var table = document.getElementById('csci101Table'),
        options = {
            chart: {
                renderTo: 'csci101Chart',
                type: 'line'
            },
            title: {
                text: 'Enrollment History'
            },
            xAxis: {
                title: {
                    text: 'Semester'
                }
            },
            yAxis: {
                title: {
                    text: '# of Students'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.y +' '+ this.x.toLowerCase();
                }
            }
        };

        Highcharts.visualize(table, options);
    });

%ul.breadcrumb
  %li
    = link_to 'Home', '/index.html'
    %span.divider /
  %li
    = link_to 'Administration', '/administration/index.html'
    %span.divider /
  %li.active EECS Course Resources &amp; Constraints

.alert
  Last updated on
  = "#{Time.now.strftime("%A, %B %d %Y")}."


.page-header
  %h1 EECS Courses, Resources and Constraints


%blockquote.pull-right
  %p I can't believe this shit isn't well-documented.
  %small
    Someone famous

%p Documentation of the courses owned by the EECS department.

%ul.nav.nav-tabs
  %li.active= link_to 'All', '#'
  %li= link_to '2013 Spring', '#'
  %li= link_to '2013 Summer', '#'
  %li= link_to '2013 Fall', '#'

%h2 All Courses

%h3
  CSCI 101
  %small Introduction to Computer Science
%p
  Distributed science course. Core requirement for CSCI students.
%p
  %b Offered
  Since fall 2010. Fall, spring. MWF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Keith Hellman
  Craig Champlin, William (Bill) Bahn
%p
  %b Classroom
  Uses formal learning groups. Needs a classroom with audio and video support, movable chairs, no stadium seating.
%p
  %b Rooms Used Successfully
  AH 330, AH 140, MH 375, AH 352 (< 40 students otherwise too small), AH 340, AH 162  (< 40 students otherwise too small), MZ 322
%p
  %b Support
  Needs 1 grader (12 hrs/wk) per section.
.row-fluid
  .span5
    %table#csci101Table.table.table-bordered.table-condensed
      %thead
        %tr
          %th Semester
          %th Number of Sections
          %th Total Enrollment
      %tbody
        %tr
          %th 2010 Fall
          %td 2
          %td 113
        %tr
          %th 2011 Spring
          %td 2
          %td 102
        %tr
          %th 2011 Fall
          %td 5
          %td 194
        %tr
          %th 2012 Spring
          %td 3
          %td 116
        %tr
          %th 2012 Fall
          %td 4
          %td 116
        %tr
          %th 2013 Spring
          %td 3
          %td 119
  .span7
    #csci101Chart{:style => 'height: 300px;'}
%p
  %b Exam
  Needs common exam scheduling for midterms, final

%h3
  CSCI 260
  %small Fortran Programming
%p This course is taken by...
%p
  %b
%p
  %b Offered
  Since fall 2007 or earlier. Fall, spring. WF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Larry Johnson
%p
  %b Classroom
  Needs a computer classroom.
%p
  %b Support
  Needs 1 hour per week to assist on lab days.


%h3
  CSCI 261
  %small Programming Concepts
%p This course...
%p
  %b Offered
  Since fall 2007 or earlier. Fall, spring. MWF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Yong Bakos
  Keith Hellman, Cyndi Rader, Josh Thomas (adjunct), GTF and PhD students
%p
  %b Classroom
  Needs computer labs supporting Visual Studio (and OpenFrameworks) and/or Code::Blocks, for Friday lab sections.
%p
  %b Rooms Used Successfully
  CT TODO, MZ 022, MZ 026, BB 316A, BB 316B
%p
  %b Support
  Needs 6 - 12 hours per week to assist on lab days; 8 hours per week to conduct tutoring sessions MW 6:30 - 8:30PM in CTLM.
  %br
  Needs 20 hours per week for homework grading.
%p
  %b Exam
  Needs common exam scheduling for midterms, final

%h3
  CSCI 261J
  %small Programming Concepts (Java)
%p
  This is a "special" section of CSCI261 taught in Java by Ira Hale. The department <i>does</i> administer this course.
%p
  %b Offered
  TODO. Spring. MWF, 50 minutes.
%p
  %b Instructors
  %span.label.label-success Ira Hale
%p
  %b Classroom
  Needs a computer classroom.
%p
  %b Rooms Used Successfully
  CT B60
%p
  %b Support
  Needs 1 hour per week to assist on lab days.

%h3
  CSCI 262
  %small Data Structures
%p
  %b Instructors
  %span.label.label-success Cyndi Rader
  Keith Hellman, Roman Tankelevich (retired), Andrzej Szymczak, Yong Bakos, Wendy Belcher, JK Slyby
%p
  %b Support
  Tutoring hours: 5 hrs wk / per 30 students, 1 or 2 Graduate students.
  %br
  Grading: 2 undergrads at 3 hrs / wk per 30 students.
%p
  %b Classroom
  Needs a computer classroom.

%h3
  CSCI 274
  %small Intro Linux OS
%p This is a one credit-hour elective that lasts approximately six weeks.
%p
  %b Instructors
  %span.label.label-success Qi Han
  Marc Rubin, Nizam Ahmed
%p
  %b Support
  1 undergrad for grading, 6 hrs / wk. (for six weeks)
%p
  %b Classroom
  GC297, a linux lab. This room is not reserved by the registrar! You must reserve this room with the GeoPhysics department (Michelle Szobody mszobody@mines.edu). Needs a computer classroom with linux. There are only two of these sorts of labs on campus: our "Alamode" linux lab, and the linux lab in GeoPhysics.

%h3
  CSCI 306
  %small Software Engineering
%p
  %b Instructors
  %span.label.label-success Cynthia Rader
%p
  %b Support
  1 undergraduate for grading, TODO hours / week

%h3
  CSCI 341
  %small Computer Organization
%p
  %b Instructors
  %span.label.label-success Qi Han
  Bill Bahn, Yong Bakos
%p
  %b Support
  TODO

%h3
  CSCI 358
  %small Discrete Mathematics

%h3
  CSCI 400
  %small Programming Languages

%h3
  CSCI 403
  %small Database Management
%p
  %b Instructors
  %span.label.label-success Yong Bakos
%p
  %b Support
  TODO

%h3
  CSCI 406
  %small Algorithms

%h3
  CSCI 407
  %small Scientific Computing

%h3
  CSCI 410
  %small Elements Of Computing Systems
%p
  %b Substitutions
  Can be substituted for an EE elective.

%h3
  CSCI 442
  %small Operating Systems
%p
  %b Instructors
  %span.label.label-success Tracy Camp
  Josh Thomas
%p
  %b Support
  TODO

%h3
  CSCI 445
  %small Web Programming
%p This is an online course.
%p
  %b Instructors
  %span.label.label-success Cynthia Rader
  JK Slyby, Yong Bakos
%p
  %b Support
  TODO

%h3
  CSCI 446
  %small Web Applications
%p This is an online course.
%p
  %b Instructors
  %span.label.label-success Yong Bakos
  Cynthia Rader
%p
  %b Support
  TODO

%h3
  CSCI 447 & 547
  %small Scientific Visualization
%p
  %b Instructors
  %span.label.label-success Andrzej Szymczak
%p
  %b Support
  1 qualified graduate for grading @ 2 hrs/wk

%h3
  CSCI 562
  %small Applied Algorithms & Data Structures
%p
  %b Instructors
  %span.label.label-success Dinesh Mehta
%p
  %b Support
  1 graduate student @ 4 hrs/wk, if enrollment is more than 15 students.

%h3
  CSCI 564
  %small Advanced Computer Architecture

%h3
  CSCI 575
  %small Machine Learning
%p
  %b Instructors
  %span.label.label-success Hua Wang
%p
  %b Support
  1 graduate student for grading, 1 hr / wk.

%h3
  CSCI 700
  %small MS Project Credits

%h3
  CSCI 707
  %small Graduate Thesis

%h3
  EGGN 281
  %small Intro To Circuits
%p
  %b Instructors
  %span.label Ravel Ammerman
  Vibhuti Dave, TODO
%p
  %b Support
  1 undergrad for grading, per section, 5 hours/wk
%p
  %b Substitutions
  Can be substituted with PHGN215 Analog Circuits.
%p
  %b Exam
  Needs common exam scheduling for midterms, final

%h3
  EGGN 284
  %small Digital Logic
%p
  %b Instructors
  %span.label.label-success Vibhuti Dave
  Majid Shaalan
%p
  %b Support
  1 undergrad for grading, 10 hours/wk.
  %br
  1 adjunct to manage labs.
%p
  %b Substitutions
  Can be substituted with PHGN317 Semiconductor Circuits: Digital. However, students need to take EGGN284 as a 1 credit-hour "independent study," which just means they attend the lab section and do the lab work.
%p
  %b Scheduling
  %span.label.label-important Should be scheduled at 9AM to accommodate Physics students.

%h3
  EGGN 307
  %small Intro To Feedback Control Sys
%p
  %b Instructors
  %span.label.label-success Tyrone Vincent
  Alok Sarwal, TODO
%p
  %b Support
  3 undergraduate graders. TODO: hours / wk? Based on section / enrollment?

%h3
  EGGN 382
  %small Engineering Circuit Analysis

%h3
  EGGN 383
  %small Microcomputer Architecture
%p
  %b Instructors
  %span.label.label-success William Hoff
%p
  %b Support
  1 adjunct for labs. 2 hours / week of undergraduate grading hours.

%h3
  EGGN 385
  %small Elec Dev/circuits
%p
  %b Instructors
  %span.label.label-success Jeff Schowalter
%p
  %b Support
  1 graduate student to manage labs and grading. 9 hours / wk.

%h3
  EGGN 386
  %small Fund Of Engineering Electromagnets

%h3
  EGGN 388
  %small Information Systems Science
%p
  %b Instructors
  %span.label.label-success Michael Wakin
  Tyrone Vincent, Kevin Moore, George Edwards, Philips Bradford
%p
  %b Support
  1 graduate student to manage labs, 20 hrs/wk
  %br
  1 undergrad for grading (?) TODO: 10 hrs/wk
%p
  %b Exam
  Needs common exam scheduling for midterms, final

%h3
  EGGN 389
  %small Fund Electric Machinry I
%p
  %b Instructors
  %span.label Salman Mohagheghi
%p
  %b Support
  TODO

%h3
  EGGN 481
  %small Digital Signal Processing
%p
  %b Instructors
  %span.label.label-success Michael Wakin
%p
  %b Support
  1 grad or qualified undergrad for grading, 4 hrs/wk

%h3
  EGGN 487
  %small Anal & Des Of Adv Energy Sys
%p
  %b Instructors
  %span.label.label-success Ravel Ammerman
%p
  %b Support
  1 graduate student for lab sections, 10 hours / wk, speciailizing in power/energy. Labs use PowerWorld Simulator software.

%h3
  EGGN 498ea
  %small Comp Meth Engy Sys&pwr Elctrnc

%h3
  EGGN 504
  %small Eng Grad Colloquium Ms - Ee

%h3
  EGGN 512
  %small Computer Vision

%h3
  EGGN 517
  %small Theory & Dsgn Adv Control Sys

%h3
  EGGN 519
  %small Estimation Thry&kalman Filtrng
%p
  %b Instructors
  %span.label.label-success Tyrone Vincent
%p
  %b Support
  1 graduate student for grading. TODO: hours / wk?

%h3
  EGGN 580
  %small Electric Power Quality
%p
  %b Instructors
  %span.label.label-success Salman Mohagheghi
%p
  %b Support
  None.

%h3
  EGGN 589
  %small Design & Cntrl Wind Energy Sys
%p
  %b Instructors
  %span.label.label-success Kathryn Johnson
%p
  %b Support
  1 undergrad for grading, but needs to be qualified. Likely needs graduate student as a grader.

%h3
  EGGN 598ea
  %small Power Systems Protection

%h3
  EGGN 598eb
  %small Sensors

%h3
  EGGN 707E
  %small Graduate Thesis - Ee

%h3
  SYGN 555
  %small Smartgeo Seminar