---
body_dom_id: courses
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list.course_list
        %li.nav-header Spring 2013
        %li.future CSCI261 Programming Concepts
        %li.future CSCI403 Database Management
        %li.future CSCI410 Elements of Computing Systems
        %li.future CSCI446 Web Application Development
        %li.nav-header Fall 2012
        %li= link_to 'CSCI261 Programming Concepts', 'https://piazza.com/mines/fall2012/csci261/home'
        %li= link_to 'CSCI410 Elements of Computing Systems', 'https://piazza.com/mines/fall2012/csci410/home'
        %li= link_to 'CSCI498A Mobile Device Programming', 'https://piazza.com/mines/fall2012/csci498a/home'
        %hr
        %li.nav-header Spring 2012
        %li= link_to 'CSCI261 Programming Concepts', 'http://mines.humanoriented.com/classes/2012/spring/csci261/'
        %li= link_to 'CSCI403 Database Management', 'http://mines.humanoriented.com/classes/2012/spring/csci403/'
        %li= link_to 'CSCI446 Web Application Development', 'http://mines.humanoriented.com/classes/2012/spring/csci446/'
        %li= link_to 'CSCI498 Elements of Computing Systems', 'http://mines.humanoriented.com/classes/2012/spring/csci410/'
        %li.nav-header Fall 2011
        %li
          = link_to 'CSCI261 Programming Concepts', 'http://mines.humanoriented.com/classes/2011/fall/csci261/'
          = link_to '-- Sections C/E', 'http://mines.humanoriented.com/classes/2011/fall/csci261/ce'
        %li= link_to 'CSCI568 Data Mining', 'http://mines.humanoriented.com/classes/2011/fall/csci568/'
        %hr
        %li.nav-header Spring 2011
        %li= link_to 'CSCI341 Computer Organization', 'http://mines.humanoriented.com/classes/2011/spring/csci341/'
        %li= link_to 'CSCI403 Database Management', 'http://mines.humanoriented.com/classes/2011/spring/csci403/'
        %li= link_to 'CSCI446 Web Application Development', 'http://mines.humanoriented.com/classes/2011/spring/csci446/'
        %li= link_to 'CSCI498 Elements of Computing Systems', 'http://mines.humanoriented.com/classes/2011/spring/csci498/'
        %li.nav-header Fall 2010
        %li= link_to 'CSCI261 Programming Concepts', 'http://mines.humanoriented.com/classes/2010/fall/csci261/'
        %li= link_to 'CSCI568 Data Mining', 'http://mines.humanoriented.com/classes/2010/fall/csci568/'
        %hr
        %li.nav-header Spring 2010
        %li= link_to 'CSCI403 Database Management', 'http://mines.humanoriented.com/classes/2010/spring/csci403/'
        %li= link_to 'CSCI498 Elements of Computing Systems', 'http://mines.humanoriented.com/classes/2010/spring/csci498/'
        %li.nav-header Fall 2009
        %li= link_to 'CSCI261 Programming Concepts', 'http://mines.humanoriented.com/classes/2009/fall/csci261/'
        %li= link_to 'CSCI 568 Data Mining', 'http://mines.humanoriented.com/classes/2009/fall/csci568/'
        %hr
        %li.nav-header Spring 2009
        %li= link_to 'CSCI403 Database Management', 'http://mines.humanoriented.com/classes/2009/spring/csci403/'
        %li.nav-header Fall 2008
        %li= link_to 'CSCI568 Data Mining', 'http://mines.humanoriented.com/classes/2008/fall/csci568/'
        %hr
        %li.nav-header Spring 2008
        %li= link_to 'CSCI403 Database Management', 'http://mines.humanoriented.com/classes/2008/spring/csci403/'
    .well.sidebar-nav
      %ul.nav.nav-list.course_list
        %li.nav-header Course Proposals
        %li.future Mobile Programming: iOS &amp; Mobile Web
        %li.future Postmodern Software Engineering
        %li.future Advanced Database Systems
        %li.future A Postmodern Introduction to CS
        %li.future Readings in Software Engineering
        %li.future The Future Does not Compute (Ethics)
  .span9
    .hero-unit
      %h1 Thought control.
      %p #TODO
      %p &lt;&lt; Class links at the left are active.
      / %p
      /   %a.btn.btn-primary.btn-large Learn more »
    .row-fluid
      .span4
        %h2 Programming Concepts
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Data Structures &amp; Algorithms
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Computer Organization
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
    .row-fluid
      .span4
        %h2 Database Management
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Elements of Computing
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Web Application Development
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
    .row-fluid
      .span4
        %h2 Mobile Device Programming
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Data Mining
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2
          %span{:style => "color: #BF0C43;"} Hey!
          %br
          %span{:style => "color: #127A97;"} Teacher!
          %br
          %span{:style => "color: #452B72;"} Leave
          %span{:style => "color: #F9BA15;"} those
          %span{:style => "color: #8EAC00;"} kids
          %span{:style => "color: #BF0C43;"} alone!
    %hr
    .row-fluid
      .span4
        %h2 Programming iOS &amp; Mobile Web
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Postmodern Software Engineering
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Advanced Database Systems
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
    .row-fluid
      .span4
        %h2 A Postmodern Introduction to CS
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Readings in Software Engineering
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 The Future Does Not Compute (Ethics)
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »